<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-posts-heading" data-cy="PostsCreateUpdateHeading" jhiTranslate="gatewayHcmApp.posts.home.createOrEditLabel">
        Create or edit a Posts
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.titleKo" for="field_titleKo">Title Ko</label>
          <input type="text" class="form-control" name="titleKo" id="field_titleKo" data-cy="titleKo" formControlName="titleKo" />
          <div *ngIf="editForm.get('titleKo')!.invalid && (editForm.get('titleKo')!.dirty || editForm.get('titleKo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('titleKo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.descriptionKo" for="field_descriptionKo">Description Ko</label>
          <input
            type="text"
            class="form-control"
            name="descriptionKo"
            id="field_descriptionKo"
            data-cy="descriptionKo"
            formControlName="descriptionKo"
          />
          <div
            *ngIf="
              editForm.get('descriptionKo')!.invalid && (editForm.get('descriptionKo')!.dirty || editForm.get('descriptionKo')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descriptionKo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.image" for="field_image">Image</label>
          <input type="text" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <div *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('image')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.link" for="field_link">Link</label>
          <input type="text" class="form-control" name="link" id="field_link" data-cy="link" formControlName="link" />
          <div *ngIf="editForm.get('link')!.invalid && (editForm.get('link')!.dirty || editForm.get('link')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('link')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayHcmApp.posts.outstanding" for="field_outstanding">Outstanding</label>
          <input
            type="checkbox"
            class="form-check"
            name="outstanding"
            id="field_outstanding"
            data-cy="outstanding"
            formControlName="outstanding"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
