<div>
  <h2 id="page-heading" data-cy="CadresHeading">
    <span jhiTranslate="gatewayHcmApp.cadres.home.title">Cadres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.cadres.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cadres"
        [routerLink]="['/cadres/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.cadres.home.createLabel"> Create a new Cadres </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cadres?.length === 0">
    <span jhiTranslate="gatewayHcmApp.cadres.home.notFound">No Cadres found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cadres && cadres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fullname">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.fullname">Fullname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fullnameKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.fullnameKo">Fullname Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="position">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.position">Position</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="positionKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.positionKo">Position Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="major">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.major">Major</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="majorKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.majorKo">Major Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workResponsibility">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.workResponsibility">Work Responsibility</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workResponsibilityKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.workResponsibilityKo">Work Responsibility Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titleKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.titleKo">Title Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.content">Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contentKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.cadres.contentKo">Content Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cadres of cadres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cadres', cadres.id, 'view']">{{ cadres.id }}</a>
          </td>
          <td>{{ cadres.fullname }}</td>
          <td>{{ cadres.fullnameKo }}</td>
          <td>{{ cadres.position }}</td>
          <td>{{ cadres.positionKo }}</td>
          <td>{{ cadres.email }}</td>
          <td>{{ cadres.major }}</td>
          <td>{{ cadres.majorKo }}</td>
          <td>{{ cadres.workResponsibility }}</td>
          <td>{{ cadres.workResponsibilityKo }}</td>
          <td>{{ cadres.title }}</td>
          <td>{{ cadres.titleKo }}</td>
          <td>{{ cadres.content }}</td>
          <td>{{ cadres.contentKo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cadres', cadres.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cadres', cadres.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cadres)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cadres && cadres.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
