<div>
  <h2 id="page-heading" data-cy="PostsHeading">
    <span jhiTranslate="gatewayHcmApp.posts.home.title">Posts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.posts.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-posts"
        [routerLink]="['/posts/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.posts.home.createLabel"> Create a new Posts </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="posts?.length === 0">
    <span jhiTranslate="gatewayHcmApp.posts.home.notFound">No Posts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="posts && posts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="titleKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.titleKo">Title Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descriptionKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.descriptionKo">Description Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="link">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.link">Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="outstanding">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.posts.outstanding">Outstanding</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let posts of posts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/posts', posts.id, 'view']">{{ posts.id }}</a>
          </td>
          <td>{{ posts.title }}</td>
          <td>{{ posts.titleKo }}</td>
          <td>{{ posts.description }}</td>
          <td>{{ posts.descriptionKo }}</td>
          <td>{{ posts.image }}</td>
          <td>{{ posts.link }}</td>
          <td>{{ posts.outstanding }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/posts', posts.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/posts', posts.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(posts)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="posts && posts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
