<div>
  <h2 id="page-heading" data-cy="NewsHeading">
    <span jhiTranslate="gatewayHcmApp.news.home.title">News</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.news.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-news"
        [routerLink]="['/news/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayHcmApp.news.home.createLabel"> Create a new News </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="news?.length === 0">
    <span jhiTranslate="gatewayHcmApp.news.home.notFound">No News found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="news && news.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tilte">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.tilte">Tilte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tilteKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.tilteKo">Tilte Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descriptionKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.descriptionKo">Description Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.content">Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contentKo">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.contentKo">Content Ko</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="newsCategory.id">
            <div class="d-flex">
              <span jhiTranslate="gatewayHcmApp.news.newsCategory">News Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let news of news; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/news', news.id, 'view']">{{ news.id }}</a>
          </td>
          <td>{{ news.tilte }}</td>
          <td>{{ news.tilteKo }}</td>
          <td>{{ news.description }}</td>
          <td>{{ news.descriptionKo }}</td>
          <td>{{ news.content }}</td>
          <td>{{ news.contentKo }}</td>
          <td>
            <div *ngIf="news.newsCategory">
              <a [routerLink]="['/news-category', news.newsCategory.id, 'view']">{{ news.newsCategory.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/news', news.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/news', news.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(news)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="news && news.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
