@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/src/assets/fonts/NunitoSans/NunitoSans_7pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



/* ::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
  color: var(--text-main);
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}
.hiddenScroll::-webkit-scrollbar {
  display: none;
}
/* style thumb for table */

.gray-thunb::-webkit-scrollbar-thumb, .gray-thunb::-webkit-scrollbar-thumb:hover {
  background:var(--gray-002)
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* disable Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ant-picker-ok button {
  background-color: var(--main-color);
  /* display: none !important; */
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
}