input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-white);
    opacity: 1; /* Firefox */
  }
  
  input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-white);
  }
  
  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-white);
  }
  
  .input-white::placeholder {
    color: var(--text-white);
  
    opacity: 1;
  }
  .btn-4 {
    position: relative;
    overflow: hidden;
  }

  .btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
  
  .btn-4:hover:after {
      left: 120%;
      /* top: 0; */
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .withFull {
    width: 100%;
    transition: all ease-in-out 0.5s;
  }
  .withOut {
    width: 0;
    transition: all ease-in-out 0.5s;
  }

 /* slider */
  .slider-company-home {
    height: auto;
    position: relative;
    width: 100%;
  }
  
  .slider-company-home .slider-company-home-content {
    padding: 0 120px;
    /* overflow: hidden; */
  }
  
  .slider-company-home .swiper-button-prev {
    position: absolute;
    left: 0;
  }
  
  .slider-company-home .swiper-button-next {
    position: absolute;
    right: 0;
  }
  
  .swiper-grid-column > .swiper-wrapper {
    flex-direction: unset !important;
  }

.swiper-banner-home .swiper-slide-thumb-active > div {
    background-color: var(--secondary);
  }
  
  
.footer-animation-list {
  height: calc(var(--footer-size) * var(--height-li));
  transition: all ease 0.3s;
} 

.line-down::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  bottom: -7.5px;
  left: -7.5px;
}

.line-up::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  top: -7.5px;
  left: -7.5px;
}

.line-right::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  top: -7.5px;
  left: -7.5px;
}

/* .side-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 12;
} */

.side-bar-show {
  transform: translateX(0);
  transition: all ease 0.5s;
}

.side-bar-hide {
  transform: translateX(-100%);
  transition: all ease 0.5s;
}


.scale-animate {
  animation: scaleAnimate ease 0.3s;
}

@keyframes scaleAnimate {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.swiper-item-thumb  .swiper-slide-thumb-active {
  min-height: 34px;
  max-height: 34px;
  min-width: 34px;
  max-width: 34px;
  border-radius: 6px;
  border: 2px solid var(--text-white);
  overflow: hidden;
} 

.animaed-opacity {
  animation: opacityAnimate 3s linear;
}

@keyframes opacityAnimate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}