#input-footer::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-white);
    opacity: 1; /* Firefox */
  }
  
  #input-footer::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-white);
  }
  
  #input-footer::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-white);
  }
  
  .input-white::placeholder {
    color: var(--text-white);
  
    opacity: 1;
  }
  .btn-4 {
    position: relative;
    overflow: hidden;
  }

  .btn-4:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
  
  .btn-4:hover:after {
      left: 120%;
      /* top: 0; */
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .withFull {
    width: 100%;
    transition: all ease-in-out 0.5s;
  }
  .withOut {
    width: 0;
    transition: all ease-in-out 0.5s;
  }

 /* slider */
  .slider-company-home {
    height: auto;
    position: relative;
    width: 100%;
  }
  
  .slider-company-home .slider-company-home-content {
    padding: 0 120px;
    /* overflow: hidden; */
  }
  
  .slider-company-home .swiper-button-prev {
    position: absolute;
    left: 0;
  }
  
  .slider-company-home .swiper-button-next {
    position: absolute;
    right: 0;
  }
  
  .swiper-grid-column > .swiper-wrapper {
    flex-direction: unset !important;
  }

.swiper-banner-home .swiper-slide-thumb-active > div {
    background-color: var(--secondary);
  }
  
  
.footer-animation-list {
  height: calc(var(--footer-size) * var(--height-li));
  transition: all ease 0.3s;
} 

.line-down::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  bottom: -7.5px;
  left: -7.5px;
}

.line-up::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  top: -7.5px;
  left: -7.5px;
}

.line-right::after {
  position: absolute;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-color-line);
  top: -7.5px;
  left: -7.5px;
}

/* .side-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 12;
} */

.side-bar-show {
  transform: translateX(0);
  transition: all ease 0.5s;
}

.side-bar-hide {
  transform: translateX(-100%);
  transition: all ease 0.5s;
}


.scale-animate {
  animation: scaleAnimate ease 0.3s;
}

@keyframes scaleAnimate {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.swiper-item-thumb  .swiper-slide-thumb-active {
  min-height: 34px;
  max-height: 34px;
  min-width: 34px;
  max-width: 34px;
  border-radius: 6px;
  border: 2px solid var(--text-white);
  overflow: hidden;
} 

.animaed-opacity {
  animation: opacityAnimate 3s linear;
}

@keyframes opacityAnimate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.activeLink {
  background-color: #ebf3ff;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.checkbox-custom {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-custom > span {
  display: none;
}

.checkbox-custom > input[type='checkbox']:checked ~ span {
  display: block;
  color: white;
}
.checkbox-custom > input[type='checkbox']:checked ~ div {
  background-color: var(--secondary);
  border: none;
}


.popup-show {
  animation: show-popup 0.5s ease;

} 


.popup-hide {
  animation: hide-popup 0.3s ease forwards;
}


@keyframes show-popup {
  from {
      transform: translateY(-55px);
      opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hide-popup {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  99% {
    transform: translateY(-55px);
    opacity: 0;
  }

  100% {
    display: none;
  }

 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rich-text-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hide {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
}

.line-clamp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

ol {
  margin-left: 20px;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  counter-reset: num 0;
  font: 800 40px system-ui;
  padding: 2rem;
  animation: counter 2s infinite alternate ease-in-out;
}
.counter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: var(--counter);
  }
}

.numbers__window__digit {
  font: inherit;
  word-break: break-all;
  display: block;
  width: 0;
  padding: 0 0.52em 0 0;
  margin: 0 auto;
  overflow: inherit;
  animation: counting 0.4s steps(10) forwards infinite;
}

.numbers__window__digit::before {
  content: attr(data-fake);
  display: inline-block;
  width: 100%;
  height: auto;
}

@keyframes counting {
  100% {
    transform: translate3d(0, -10em, 0);
  }
}