.swiper-banner-home .swiper-slide-thumb-active > div {
  background-color: var(--text-white);
}

.btn-hover-effect {
  
  position: relative;
  
  display: flex;
  align-items: center;
  
  transform: translateZ(0);
  
  text-decoration: none;
  
  overflow: hidden;
}


.btn-hover-effect--effect-3::before {
  position: absolute;
  top: 50%;
  left: 50%;
    
    display: block;
    width: 200%;
    height: 200%;
    
    content: '';
    
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    
    background-color: rgba(255,255,255, .2);
    border-radius: 50%;
   
    z-index: -1;
  transition: all 0.5s ease-in-out;
}

.btn-hover-effect--effect-3::after {
    position: absolute;
    top: 1px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 40px; */
    line-height: inherit;
    
    transform: scale(1.5);
    
    opacity: 0;
    transition: all 0.5s ease-in-out;
} 


.btn-hover-effect--effect-3:hover::before {
       transform: translate(-50%, -50%) scale(1);
      transform-origin: center;
      transition: all 0.5s ease-in-out;
}

.btn-hover-effect--effect-3:hover::after {
     transform: scale(1);   
      opacity: 1;
      transition: all 0.5s ease-in-out;
}

.footer-animation-list {
  height: calc(var(--footer-size) * var(--height-li));
  transition: all ease 0.3s;
} 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.list-facilities::-webkit-scrollbar{
  width: 4px;
}

.list-facilities::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.1);
  border-radius: unset;
}