
/* css flag group */
.menu {
    position: relative;
  }
  
.menu ul {
height: 0;
left: 0;
opacity: 0;
position: absolute;
transition: all .5s ease;
width: 100%;
}

.menu:hover ul {
height: auto;
opacity: 1;
transform: translateY(0);
}

/* css subnav header */

.header-subnav {
    position: relative;
}

.header-bg-subnav {
    height: 300;
}