.banner_home {
    background-image: url("../images/banner_home.png");
    height: calc(100vh - 182px);
    max-height: calc(100vh - 182px);
    min-height: calc(100vh - 182px);
}

.banner_home_video {
    height: calc(100vh - 182px);
    max-height: calc(100vh - 182px);
    min-height: calc(100vh - 182px);
}



.animated-up, .animated-up-delay {
    opacity: 0;
    transform: translateY(80px);
}

.animated-parent:hover .animated-up {
    animation: animatedUp ease-out 0.5s forwards;
}

.animated-parent:hover .animated-up-delay {
    animation: animatedUp ease-out 0.7s forwards;
    /* animation-delay: 0.3s; */
}

@keyframes animatedUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 
.image_hover{
    transition: all 0.25s cubic-bezier(0.77, 0, 0.175, 1);
}

.image_hover:hover {
    transform: scale(1.1);
    /* transition: all 0.7s ease; */
}


.event_hom_item_left {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.event_hom_item_right {
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.home-topic-event {
    background-color: var(--text-white);
    color: var(--text-primary);
    transition: all 0.5s ease;
}

.home-topic-event-avtive,
.home-topic-event:hover {
    background-color: var(--secondary);
    color: var(--text-white);
}

.home-topic-list-event {
    display: none;
}

.home-topic-event:hover .home-topic-list-event, .home-topic-event-avtive .home-topic-list-event {
    display: block;
}

.home-topic-event:hover .go-down, .home-topic-event-avtive .go-down {
    animation: goDown 0.5s ease;
}

.home-topic-event:hover .go-right, .home-topic-event-avtive .go-right {
    animation: goRight 0.5s ease;
}

.home-topic-event:hover .go-up, .home-topic-event-avtive .go-up {
    animation: goUp ease;
    animation-duration: calc(var(--item-index) * 0.5s);
}

.go-down-only {
    animation: goDown 0.5s ease;
    animation-delay: 0.3s;
}

.go-right-only {
    animation: goRight 0.5s ease;
    animation-delay: 0.3s;
}

@keyframes goDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes goRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes goUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-topic-video-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.home-banner-image-bg {

background: linear-gradient(166.38deg, rgba(27, 101, 211, 0.6) 0%, rgba(16, 219, 170, 0.6) 69.27%), rgba(255, 255, 255, 0.3);
}