@import "./responsive.css";
@import 'swiper/css';
@import 'swiper/css/grid';
@import 'swiper/css/pagination';


@import "./common.css";
@import "./header.css";
@import "./home.css";
@import "about.css";


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  outline: none;
}

img {
  user-select: none;
  /* pointer-events: none; */
}