@import "./ckeditor.css";
@import "./taiwind.css";

@font-face {
    font-family: 'iCielBC Cubano';
    src: url('../fonts/iCielBCCubano-Normal.otf') format('truetype');
    font-weight: 400;
  }


body {
    font-family: "IBM Plex Sans";
}

