@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #014F59;
  --secondary: #00A8B5;
  --text-primary: #272E35;
  --text-blue: #0167B2;
  --text-white: #FFFFFF;
  --text-black: #0000;
  --text-4A4A4A: #4A4A4A;
  --bg-F4FBF7: #F4FBF7;
  --br-E9ECEF: #E9ECEF;
  --bg-F08181: #F08181;
  --bg-F5B377: #F5B377;
  --bg-63A0F2: #63A0F2;
  --text-link: #0066FF;
  --animate-duration: 1s;
  --animate-delay: 0.2s;
  --animate-repeat: 1;
  --animate-count: 0;
  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: hsl(341, 100%, 30%);
  --ck-color-table-caption-background: hsl(0, 0%, 97%);
  --ck-color-table-caption-text: hsl(0, 0%, 20%);
  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
  --ck-todo-list-checkmark-size: 16px;
  --num: 0

}


@layer components {

  .w-rp {
    @apply  2xl:w-[1200px] lg:w-[90vw] lg:px-0 w-[100vw] px-[20px] mx-auto;
  }

  .w-rp-l {
    @apply  3xl:w-[1637px] lg:w-[90vw] w-full mx-auto;
  }
}
