@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #99BC20;
  --secondary: #074A20;
  --text-blue: #0167B2;
  --text-white: #FFFFFF;
  --text-black: #0000;
  --text-4A4A4A: #4A4A4A;
  --bg-F4FBF7: #F4FBF7;
  --br-E9ECEF: #E9ECEF;
  --bg-F08181: #F08181;
  --bg-F5B377: #F5B377;
  --bg-63A0F2: #63A0F2;
  --text-link: #0066FF;
  --animate-duration: 1s;
  --animate-delay: 0.2s;
  --animate-repeat: 1;
  --animate-count: 0;
  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  --ck-color-image-caption-text: hsl(0, 0%, 20%);
  --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
  --ck-color-mention-text: hsl(341, 100%, 30%);
  --ck-color-table-caption-background: hsl(0, 0%, 97%);
  --ck-color-table-caption-text: hsl(0, 0%, 20%);
  --ck-highlight-marker-blue: hsl(201, 97%, 72%);
  --ck-highlight-marker-green: hsl(120, 93%, 68%);
  --ck-highlight-marker-pink: hsl(345, 96%, 73%);
  --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
  --ck-highlight-pen-green: hsl(112, 100%, 27%);
  --ck-highlight-pen-red: hsl(0, 85%, 49%);
  --ck-image-style-spacing: 1.5em;
  --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
  --ck-todo-list-checkmark-size: 16px;
  --num: 0

}


@layer components {

  .w-rp {
    @apply  2xl:w-[1320px] lg:w-[90vw] lg:px-0 w-[100vw] px-[20px] mx-auto;
  }

  .w-rp-l {
    @apply  3xl:w-[1600px] lg:w-[90vw] lg:px-0 w-[100vw] px-[20px] mx-auto;
  }

  .title-64 {
    @apply text-_24 leading-[36px] lg:text-_64 font-normal lg:leading-[80px] font-iCielBC_Cubano 
  }

  .title-48 {
    @apply text-_24 leading-[36px] lg:text-_48 font-normal lg:leading-[64px] font-iCielBC_Cubano
  }
  .title-32 {
    @apply text-_20 leading-[30px] lg:text-_32 font-normal lg:leading-[48px] font-iCielBC_Cubano
  }
  .title-24 {
    @apply  text-_18 leading-[28px]  lg:text-_24 font-normal lg:leading-[36px] font-iCielBC_Cubano
  }
  .title-20 {
    @apply text-_20 font-normal leading-[30px] font-iCielBC_Cubano
  }
  .title-18 {
    @apply text-_18 font-normal leading-[28px] font-iCielBC_Cubano
  } 
  .radius-tl-br{
    @apply rounded-tl-r32 rounded-br-r32
  }
  .radius-tl-br16{
    @apply rounded-tl-2xl rounded-br-2xl
  }
  .radius-tl-br24{
    @apply rounded-tl-3xl rounded-br-3xl
  }
  .radius-tl-br48{
    @apply rounded-tl-[48px] rounded-br-[48px]
  }
}
